<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="pyramidWeightImpl" class="com.example.pyramid.PyramidWeightImpl"> 
    	<constructor-arg name="humanEdgeWeightStrategy" ref="humanEdgeWeightStrategy"/>
    	<constructor-arg name="humanWeight" value="${pyramid.human.weight:50}"/>
    </bean>
    <bean id="humanEdgeWeightStrategy" class="${pyramid.weight.strategy}"> 
    </bean>
</beans>